# For more information, check out:
#   - https://clangd.llvm.org/config
#   - https://clang.llvm.org/extra/clang-tidy/checks/list.html
---
If:
  PathMatch: [src/.*\.cc, src/.*\.hh]
Diagnostics:
  ClangTidy:
    Add:
      - clang-analyzer-*
      - bugprone-*
      - modernize-*
      - performance-*
      - misc-unused-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-length.MinimumVariableNameLength: 2
  UnusedIncludes: Strict
InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
